.form-wrapper{
    background: rgb(236,253,245);
    background: linear-gradient(180deg, rgba(236,253,245, 1) 0%, rgba(255,255,255,0) 100%);
    padding: 50px;
    border-radius: 20px;
    @include responsive(sm){
        padding: 30px;
    }
    .inputs{
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
        @include responsive(sm){
            flex-wrap: wrap;
        }
        .wpcf7-form-control-wrap{
            position: relative;
            display: block;
            width: 100%;
            input, textarea{
                width: 100%;
                height: 50px;
                padding: 0 10px;
                border-radius: 5px;
                background-color: var(--color-emerald-50);
                border: 1px solid var(--primary-color);
            }
            textarea{
                height: 120px;
                padding: 10px;
            }
        }
    }
    button[type=submit]{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 25px;
        text-transform: uppercase;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: #FFF;
        margin-left: auto;
    }
}