.main-banner-video{
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(4,82,191);
        background: linear-gradient(45deg,rgba(#1e3a8a,0.7) 0%,rgba(#1d4ed8,0.7) 34%,rgba(66,42,150,0.7) 67%,rgba(119,33,146,0.7) 80%,rgba(174,23,140,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0452bf',endColorstr='#ae178c',GradientType=1);
        z-index: 1;
    }
}
.section{
    .subheading, .category-title{
        display: inline-flex;
        gap: 0 10px;
        align-items: baseline;
        background: rgb(4,82,191);
        background: linear-gradient(90deg,rgba(#1e3a8a,1) 0%,rgba(#1d4ed8,1) 34%,rgba(66,42,150,1) 67%,rgba(119,33,146,1) 80%,rgba(174,23,140,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0452bf',endColorstr='#ae178c',GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::before{
            content: "";
            display: inline-block;
            width: 30px;
            height: 5px;
            background: rgb(4,82,191);
        }
    }
    .category-title{
        display: block;
        &::before{
            content: none;
        }
    }
}
.about-content{
    .image{
        transition: background-color .3s ease;
        background-color: #000;
        &:hover{
            img{
                opacity: .7;
            }
            button{
                opacity: 1;
            }
        }
    }
}
.videos{
    .video-item{
        &:hover{
            .thumb{
                span{
                    opacity: 1;
                }
            }
            img{
                opacity: .7;
            }
        }
    }
}
.activites-accordion{
    li{
        a{
            &[data-te-nav-active]{
                &::after{
                    content: "";
                    display: block;
                    border: 12px solid transparent;
                    border-top: 10px solid var(--color-blue-700);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &:hover{
                .icon{
                    -webkit-animation: bounce-top 0.9s both;
                    animation: bounce-top 0.9s both;
                }
            }
        }
    }
    .posts-slider{
        position: relative;
        .swiper-pagination{
            width: auto;
            display: flex;
            gap: 5px;
            position: absolute;
            bottom: -15px;
            right: 0;
            left: auto;
            &-bullet{
                margin: 0;
                background: var(--color-blue-400);
                &:hover, &-active{
                    background-color: var(--color-blue-700);
                }
            }
        }
    }
}
.services-list{
    .service-item{
        background: rgb(4,82,191);
        background: linear-gradient(45deg,rgba(4,82,191,1) 0%,rgba(66,42,150,1) 67%,rgba(119,33,146,1) 80%,rgba(174,23,140,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0452bf',endColorstr='#ae178c',GradientType=1);
    }
}