body {
    position: relative;
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(#ecfdf5, 0.2);
    padding-top: var(--header-height);
}

::-moz-selection {
    /* Code for Firefox */
    color: #FFF;
    background-color: var(--primary-color);
}

::selection {
    color: #FFF;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

#main-content {
    position: relative;
    z-index: 2;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
}

.entry-content {
    font-size: 18px;
    line-height: 1.7;
    &.show-less {
        max-height: 120px;
        overflow: hidden;
        position: relative;
        background-color: var(--color-gray-100);
        padding: 1em;
        transition: max-height .3s linear;

        .view__toggle {
            .show {
                display: block;
            }

            .hide {
                display: none;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 70%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(255 255 255/0), rgba(255 255 255/62.5), rgba(255 255 255/1));
            z-index: 100;
        }

        &.active {
            max-height: 10000px;
            padding-bottom: 3em;

            &::after {
                content: none;
            }

            .view__toggle {
                .show {
                    display: none;
                }

                .hide {
                    display: block;
                }
            }
        }
    }

    a {
        color: var(--primary-color);
        text-decoration: underline;
    }

    p {
        margin-bottom: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: .75em;
        font-family: "Lora", "serif";
    }

    h1 {
        font-size: 2.25rem;
        /* 36px */
        line-height: 2.5rem;
        /* 40px */
    }

    h2 {
        font-size: 1.875rem;
        /* 30px */
        line-height: 2.25rem;
        @include responsive(sm){
            font-size: 1.3em;
        }
    }

    h3 {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        /* 32px */
        @include responsive(sm){
            font-size: 1.1em;
        }
    }

    h4 {
        font-size: 1.25rem;
        /* 20px */
        line-height: 1.75rem;
        /* 28px */
        @include responsive(sm){
            font-size: 1em;
        }
    }

    h5 {
        font-size: 1.125rem;
        /* 18px */
        line-height: 1.75rem;
        /* 28px */
        @include responsive(sm){
            font-size: 1em;
        }
    }

    h6 {
        font-size: 1rem;
        /* 16px */
        line-height: 1.5rem;
        /* 24px */
        @include responsive(sm){
            font-size: .9em;
        }
    }

    ol {
        list-style: decimal-leading-zero;
        padding-left: 1em;
        margin: 1em;
    }

    ul {
        list-style: disc;
        padding-left: 1em;
        margin: 1em;
    }

    figure,
    img {
        width: 110%;
        transform: translateX(-5%);
        max-width: unset;
        height: auto;
        margin: 1em auto;
        border-radius: 10px;

        @include responsive(sm) {
            max-width: 100%;
            transform: none;
        }

        img {
            width: 100%;
            transform: none;
            margin: 0;
            border-radius: 0;
        }

        p {
            margin: 0;
        }

        figcaption {
            text-align: center;
            background-color: var(--color-gray-100);
            padding: 10px;
            font-size: .9em;
        }
    }

    img {
        border-radius: 0;
    }

    hr {
        margin: 1em 0;
    }

    blockquote {
        background: rgb(236,253,245);
        background: linear-gradient(180deg, rgba(236,253,245, 1) 0%, rgba(255,255,255,0) 100%);
        padding: 2em;
        border-radius: 10px;
        font-size: 1.3em;
        margin: 1em auto;
        @include responsive(sm){
            font-size: 1em;
        }
        >p {
            &:last-of-type {
                margin-bottom: 0;
            }

            &:first-child::first-letter {
                initial-letter: 2;
                font-weight: bold;
                margin-right: 10px;
                color: var(--primary-color);
            }
        }
    }
}

.tiktok-embed {
    .css-xgbqrj {
        display: none !important;
    }
}

.post-type-archive-rua_youtube {
    #main-header {
        background-color: var(--primary-color);
    }
}

.video-item {
    .thumb {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(#000, 0.5);
            position: absolute;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }

    &:hover {
        .thumb {
            &::after {
                opacity: 1;
            }
        }

        h3 {
            a {
                color: var(--primary-color);
            }
        }
    }
}
.newsletter{
    background-color: #f7f8f9;
    form{
        max-width: 800px;
        margin: 0 auto;
        .inputs{
            display: flex;
            align-items: stretch;
            gap: 20px;
            @include responsive(sm){
                flex-wrap: wrap;
                justify-content: center;
            }
            button[type=submit]{
                display: flex;
                gap: 10px;
                align-items: center;
                width: fit-content;
                padding: 18px 35px;
                border-radius: 5px;
                background-color: var(--color-emerald-800);
                color: var(--color-emerald-100);
                font-weight: 600;
                svg{
                    height: 20px;
                }
                span{
                    white-space: nowrap;
                }
            }
            .wpcf7-form-control-wrap{
                width: 100%;
                display: block;
                position: relative;
                input[type=email]{
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #DDD;
                    height: 100%;
                    padding: 0 15px;
                    transition: all .3s ease;
                    @include responsive(sm){
                        height: 60px;
                    }
                    &:focus{
                        border-color: var(--color-emerald-200);
                        outline: none;
                    }
                }
            }
        }
    }
}
#breadcrumbs{
    p{
        display: flex;
        gap: 1em;
        justify-content: center;
        max-width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        margin: 0 auto;
    }
}
#ajax-load-more{
    .alm-btn-wrap{
        .alm-load-more-btn{
            background-color: var(--color-emerald-800);
            color: var(--color-emerald-100);
            &.loading{
                background-color: transparent;
            }
            &.done{
                display: none;
            }
        }
    }
}
.error404{
    padding: 0;
    #main-header, #footer{
        display: none !important;
    }
    .page-404-content{
        background: url(../img/404-bg.jpg) no-repeat;
        background-size: cover;
    }
}
.wpcf7{
    transition: opacity .3s ease;
    form{
        .wpcf7-form-control-wrap{
            display: block;
            position: relative;
            input{
                width: 100%;
            }
        }
        .wpcf7-not-valid-tip{
            font-size: 13px;
            opacity: .75;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
        .wpcf7-response-output{
            margin: 1em 0;
            padding: 1em;
            border: 0;
            font-size: .8em;
            border-radius: 5px;
        }
        &.invalid{
            .wpcf7-response-output{
                background-color: rgba(red, .1);
                color: darken(red, 10%);
            }
        }
        &.sent{
            .wpcf7-response-output{
                background-color: var(--color-green-100);
                color: var(--color-green);
            }
        }
        &.submitting{
            opacity: .3;
            pointer-events: none;
        }
        .wpcf7-spinner{
            display: none;
        }
    }
}
