#main-header{
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    .site-name{
        font-weight: 900;
        font-size: 2em;
        letter-spacing: 1px;
        @include responsive(sm){
            font-size: 1.5em;
        }
    }
    .nav{
        .bottom-nav{
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .menu{
                position: relative;
                > li{
                    > a{
                        text-transform: uppercase;
                    }
                }
                li{
                    position: relative;
                    &:hover, &.current-menu-item{
                        > a{
                            color: var(--color-emerald-700);
                        }
                    }
                    .sub-menu{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 250px;
                        background-color: #000;
                        z-index: 100;
                        padding: 20px;
                        border-radius: 0 0 10px 10px;
                        box-shadow: var(--box-shadow);
                        display: none;
                        li{
                            a{
                                font-size: .9em;
                            }
                        }
                    }
                    &.mega-menu{
                        position: initial;
                        > .sub-menu{
                            right: 0;
                            width: 100%;
                            display: none;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            overflow: hidden;
                            > li{
                                width: calc(100% / 3 - 15px);
                                > a{
                                    color: var(--primary-color);
                                    font-size: .9em;
                                }
                            }
                            .sub-menu{
                                position: static;
                                display: block;
                                box-shadow: none;
                                margin: 0;
                                padding: 0;
                                margin-top: 0.5em;
                                li{
                                    a{
                                        font-weight: 300;
                                        font-size: .85em;
                                    }
                                }
                            }
                        }
                        &:hover{
                            > .sub-menu{
                                display: flex;
                            }
                        }
                    }
                    &:hover{
                        .sub-menu{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &.headroom--unpinned{
        transform: translateY(-110%);
    }
    &.headroom--pinned{
        transform: translateY(0);
    }
    &.headroom--not-top{
        padding: 15px 0;
        background-color: #FFF;
        box-shadow: 0 1px 5px rgba(#000, 0.1);
        .wrapper{
            align-items: center;
        }
        .logo{
            min-width: 60px;
            max-width: 120px;
        }
    }
}
.toggle-menu-btn {
    width: 25px;
    height: 20px;
    border: 0;
    padding: 0;
    background: transparent;
    position: relative;
    cursor: pointer;
    display: none;
    &:focus {
        outline: none;
    }
    @include responsive(md) {
        display: block;
        z-index: 100;
    }

    span {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        right: 0;
        background: var(--primary-color);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.active {
        span {
            top: 50% !important;
            bottom: auto;

            &:nth-child(1) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 100%;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}
#mobile-menu{
    --transition-delay: 300ms;
    transform: translateY(110%);
    visibility: hidden;
    transition: all .3s ease-in-out;
    &.active{
        transform: translateY(0);
        visibility: visible;
    }
    .menu{
        li{
            margin-bottom: 1em;
            text-transform: uppercase;
            transition: all .5s ease-in-out;
            transition-delay: var(--transition-delay);
            transform: translateY(20px);
            opacity: 0;
            &:hover, &.current-menu-item{
                > a{
                    color: #FFF;
                    border-bottom: 3px solid var(--color-emerald-400);
                }
            }
            a{
                display: block;
                width: fit-content;
                margin: 0 auto;
                color: rgba(#FFF, .8);
            }
            &:nth-child(2){
                transition-delay: calc(var(--transition-delay) + 100ms);
            }
            &:nth-child(3){
                transition-delay: calc(var(--transition-delay) + 200ms);
            }
            &:nth-child(4){
                transition-delay: calc(var(--transition-delay) + 300ms);
            }
            &:nth-child(5){
                transition-delay: calc(var(--transition-delay) + 400ms);
            }
            &:nth-child(6){
                transition-delay: calc(var(--transition-delay) + 500ms);
            }
            &:nth-child(7){
                transition-delay: calc(var(--transition-delay) + 600ms);
            }
        }
    }
    .socials{
        display: flex !important;
        justify-content: center;
        margin-top: 3em;
        gap: 2em;
        opacity: 0;
        transform: translateY(20px);
        transition: all .5s ease-in-out;
        transition-delay: calc(var(--transition-delay) + 1000ms);
        a{
            color: rgba(#FFF, .8) !important;
        }
    }
    &.active{
        .menu{
            li{
                transform: translateY(0);
                opacity: 1;
            }
        }
        .socials{
            opacity: 1;
            transform: translateY(0);
        }
    }
}