.single{
    .main-content{
        .image-banner{
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .6;
            }
        }
    }
}
.posts{
    .post{
        box-shadow: 0 3px 12px -1px rgba(7,10,25,.1), 0 22px 27px -30px rgba(7,10,25,.1);
        .tags{
            display: flex;
            gap: 15px;
            border-radius: 5px;
            margin-top: 2em;
            a{
                display: flex;
                font-size: 13px;
                white-space: nowrap;
                width: fit-content;
                .hash{
                    color: var(--primary-color);
                    font-weight: 500;
                    margin-right: 3px;
                }
            }
        }
        &:hover{
            a{
                color: var(--primary-color)
            }
        }
    }
}
.tags-wrapper{
    display: flex;
    gap: 10px;
    text-decoration: underline;
    a{
        &::before{
            content: '#';
        }
        &:hover{
            color: var(--color-emerald-700);
        }
    }
}