$mainColor: #F26622;
$black: #070406;
$lightColor: #1a1a1a;
$san-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$lexend: 'Lexend', sans-serif;

$lowWhite: #c1c1c1;