@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary-color: theme('colors.emerald.900');
    --sub-color: theme('colors.yellow.400');
    --color-emerald-50: theme('colors.emerald.50');
    --color-emerald-100: theme('colors.emerald.100');
    --color-emerald-200: theme('colors.emerald.200');
    --color-emerald-400: theme('colors.emerald.400');
    --color-emerald-500: theme('colors.emerald.500');
    --color-emerald-700: theme('colors.emerald.700');
    --color-emerald-800: theme('colors.emerald.800');
    --color-emerald-900: theme('colors.emerald.900');
    --color-yellow-200: theme('colors.yellow.200');
    --color-yellow-300: theme('colors.yellow.300');
    --color-yellow-700: theme('colors.amber.400');
    --color-gray-50: theme('colors.gray.50');
    --color-gray-100: theme('colors.gray.100');
    --color-gray-300: theme('colors.gray.300');
    --color-gray-600: theme('colors.gray.600');
    --box-shadow: theme('boxShadow.md');
}